<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<header>
		<h1><%= title %></h1>
	</header>

	<nav>
		<span><a title="HOME" href="/">home</a></span>
		<% if(user) { %>
		<span><a title="POST" href="/post">post</a></span>
		<span><a title="LOGOUT" href="/logout">logout</a></span>
		<% } else { %>
		<span><a title="LOGIN" href="/login">login</a></span>
		<span><a title="REGISTER" href="/reg">register</a></span>
		<% } %>
	</nav>

	<article>
	<% if (success) { %>
	<div><%= success %></div>
	<% } %>
	<% if (error) { %>
	<div><%= error %></div>
	<% } %>