<%- include header %>
<form method="post">
	username: <input type="text" name="name" /><br />
	password: <input type="password" name="password" /><br />
	re-password: <input type="password" name="re-password" /><br />
	email: <input type="email" name="email" /><br />
	<input type="submit" value="Register" />
</form>
<%- include footer %>